@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);
@include establish-baseline($base-font-size);

h1 {
	font-family: $font-gentium;
	color: $purple;
	font-size: 1.5em;
}

h2 {
	font-family: $font-gentium;
	color: $purple;
	font-size: 1.25em;

	a {
		color: $purple;
	}
}

body, p {
	font-family: $font-opensans;
	color: #222;
}


figcaption {
	font-size: .9em;
	font-style: italic;
	color: #777;
}
